@model IEnumerable<secure_programming.Models.Airplane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirplaneID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportDestination )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assigned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirplaneID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AirplaneID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AirplaneID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AirplaneID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
